{% extends 'main.html' %}
{% block content %}
<style>
    .tooltip {
      position: relative;
      display: inline-block;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
    </style>
{% if search_query != '' %}
{% if files %}

{% for file in files %}
<a style="margin-left: 5px; font-size: x-large;" href="{% url 'home' %}" >Go Back</a>
<div style="text-align: center;justify-content: center; align-items: center;margin-top: 50px;">
    <input type="text" value="{{file.number}}" id="myInput" style="width: 65%;text-align: center">

    <div class="tooltip">
    <button onclick="myFunction()" onmouseout="outFunc()">
    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
    Copy text
    </button>
    </div>
</div>

{% endfor %}
{%else%}
<a style="margin-left: 5px; font-size: x-large;" href="{% url 'home' %}" >Go Back</a>
<h1 style="text-align: center;margin-top: 50px;font-size: larger;">No matches Found. But we have sent a request to the admin and they will add this file as soon as possible</h1>

{% endif %}
{% endif %}


<script>
function myFunction() {
var copyText = document.getElementById("myInput");
copyText.select();
copyText.setSelectionRange(0, 99999);
navigator.clipboard.writeText(copyText.value);

var tooltip = document.getElementById("myTooltip");
tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
var tooltip = document.getElementById("myTooltip");
tooltip.innerHTML = "Copy to clipboard";
}
</script>





{% endblock %}